<!--Andrew McBain and Cade-->
body{
}

@keyframes backgroundmv {
  0%   {background-color:#0042aa;}
  20%  {background-color:#0086aa;}
  40%  {background-color:#0064aa;}
  60%  {background-color:#0020aa;}
  80%  {background-color:#0200aa;}
  100% {background-color:#0042aa;}
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 15px;
  background-color: black;
	height: 97vh;
	width: 99vw;
}

.grid-container > div {
  animation: backgroundmv 60s infinite;
  text-align: center;
  font-size: 30px;
}

.logintitle {
  grid-column: 1 / span 4 ;
	font-family: Abel, sans-serif;
  color: #EFD691;
	text-shadow: 3px 2px black;
}

.registerpane {
	grid-row: 2 / span 4;
	font-family: Abel, sans-serif;
  color: #EFD691;
	text-shadow: 3px 2px black;
}

.loginpane {
 grid-row: 2 / span 4;
 grid-column: 2 / span 2 ;
}

.menu {
 grid-row: 2 / span 4;
 grid-column:4 / span 1 ;
}
