/* Andrew McBain and Cade */
/* Main menu CSS */

/* creates a background which changes in color over time */
@keyframes backgroundmv {
 0%   {background-color:#0042aa;}
 20%  {background-color:#0086aa;}
 40%  {background-color:#0064aa;}
 60%  {background-color:#0020aa;}
 80%  {background-color:#0200aa;}
 100% {background-color:#0042aa;}
}

/* styles the grid that we will be storing our different divisions in */
#grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 15px;
  background-color: black;
	height: 97vh;
	width: 99vw;
}

/* styles the elements inside the grid's division, loops background over 60s */
#grid-container > div {
  animation: backgroundmv 60s infinite;
  text-align: center;
  font-size: 30px;
  font-family: Abel, sans-serif;
  color: #EFD691;
	text-shadow: 3px 2px black;
}

/* places our title pane in the grid */
#title {
  grid-column: 1 / span 4;
}

/* places our highscore pane in the grid */
#highscore {
  grid-row: 2 / span 4;
}

/* places our user pane in the grid */
#userpane {
 grid-row: 2 / span 4;
 grid-column: 2 / span 2;
}

/* places our myscore pane in the grid */
#myscore {
 grid-row: 2 / span 4;
 grid-column:4 / span 1;
}

/* styles the textbox where the user will enter their player name */
#txtbox {
  border: 1px solid #F3D486;
  border-radius: 25px;
  background-color: #F3D486;
  width: 450px; height: 70px;
  font-size: 50px;
	position: relative;
	top: -70px;
	text-align: center;
  box-shadow: 10px 10px #B59959;
}

/* styles the play button which takes the user to the game screen */
#playbutton {
  border: 1px solid #F3D486;
  border-radius: 25px;
  background-color: #F3D486;
  width: 250px; height: 60px;
  font-family: Abel, sans-serif;
  font-size: 40px;
	position: relative;
	top: -40px;
  box-shadow: 6px 8px #B59959;
  cursor: pointer;
}

/* styles the account buttons relating to logging in and registering */
.accbuttons {
  border: 1px solid #F3D486;
	margin-top: 15px;
  border-radius: 25px;
  background-color: #F3D486;
  width: 150px; height: 40px;
  font-family: Abel, sans-serif;
  font-size: 20px;
  box-shadow: 6px 8px #B59959;
  cursor: pointer;
}
