/* Nicole Stewart, Glenn Wright & Cade--> */

@keyframes backgroundmv {
  0%   {background-color:#0042aa;}
  20%  {background-color:#0086aa;}
  40%  {background-color:#0064aa;}
  60%  {background-color:#0020aa;}
  80%  {background-color:#0200aa;}
  100% {background-color:#0042aa;}
}

.bod {
  animation: backgroundmv 60s infinite;
}

#wraper {
  position: relative;
  width: 70%;
}

#area {
  position : relative;
  top : 140;
	background-color: #EFD691;
  border: 3px solid black;
  zoom: 30%;
}

#score {
  float: right;
  font-size: 100px;
  font-family: Abel, sans-serif;
  color: #EFD691;
	text-shadow: 3px 2px black;
}

#labelscore {
  float: right;
  position: relative;
  top: -72.5px;
  right: 20px;
  font-size: 100px;
  font-weight: 500;
  font-family: Abel, sans-serif;
  color: #EFD691;
	text-shadow: 3px 2px black;
}


.buttons {
  border: 1px solid #F3D486;
  border-radius: 25px;
  background-color: #F3D486;
  position: relative;
  width: 80px;
  height: 60px;
  top: 25;
  left: 10;
  font-family: Abel, sans-serif;
  font-size: 40px;
  box-shadow: 6px 8px #B59959;
  cursor: pointer;
}

#gameOver {
  width: 350px;
  height: 200px;
  top: 50%;
  left: 50%;
  z-index: 10;
  position: absolute;
  margin: auto;
  visibility: hidden;
}
