/* Glenn Wright and Cade */
/* Register menu CSS */

/* creates a background which changes in color over time */
@keyframes backgroundmv {
  0%   {background-color:#0042aa;}
  20%  {background-color:#0086aa;}
  40%  {background-color:#0064aa;}
  60%  {background-color:#0020aa;}
  80%  {background-color:#0200aa;}
  100% {background-color:#0042aa;}
}

/* styles the grid that we will be storing our different divisions in */
#grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 15px;
  background-color: black;
	height: 97vh;
	width: 99vw;
}

/* styles the elements inside the grid's division, loops background over 60s */
#grid-container > div {
  animation: backgroundmv 60s infinite;
  text-align: center;
  font-size: 30px;
  font-family: Abel, sans-serif;
  color: #EFD691;
	text-shadow: 3px 2px black;
}

/* places our register title pane in the grid */
#registertitle {
  grid-column: 1 / span 4 ;
}

/* places our login pane in the grid */
#loginpane {
	grid-row: 2 / span 4;
}

/* places our register pane in the grid */
#registerpane {
 grid-row: 2 / span 4;
 grid-column: 2 / span 2;
}

/* places our menu pane in the grid */
#menu {
 grid-row: 2 / span 4;
 grid-column:4 / span 1 ;
}

/* styles the textboxes where the user will enter their name and password (+ confirm password) */
.txtboxes {
  border: 1px solid #F3D486;
  border-radius: 25px;
  background-color: #F3D486;
  width: 300px; height: 40px;
  font-family: Abel, sans-serif;
  font-size: 30px;
	position: relative;
	top: -40px;
	text-align: center;
  box-shadow: 5px 5px #B59959;
}

/* styles the buttons included on the page, they're all styled the same for consistiency */
.buttons {
  border: 1px solid #F3D486;
  border-radius: 25px;
  background-color: #F3D486;
  width: 250px;
  height: 60px;
  font-family: Abel, sans-serif;
  font-size: 40px;
  box-shadow: 6px 8px #B59959;
  cursor: pointer;
}

/* styles the confirm password textbox and the text inside it */
#passwordconftxt {
  border: 1px solid #F3D486;
  border-radius: 25px;
  background-color: #F3D486;
  width: 300px; height: 40px;
  font-family: Abel, sans-serif;
  font-size: 30px;
  position: relative;
  top: -70px;
  text-align: center;
  box-shadow: 5px 5px #B59959;
}

/* styles the confirm password text and places it above the confirm password textbox */
#confpass {
  position: relative;
  top: -30px;
}

/* styles the show password text and places it below the first password textbox */
#show {
  position: relative;
  top: -50px;
  font-size: 20px;
}
