body {
    animation: backgroundmv 60s infinite;
}

@keyframes backgroundmv {
  0%   {background-color:#0042aa;}
  20%  {background-color:#0086aa;}
  40%  {background-color:#0064aa;}
  60%  {background-color:#0020aa;}
  80%  {background-color:#0200aa;}
  100% {background-color:#0042aa;}
}

h1 {
  font-family: Abel, sans-serif;
  font-size: 900%;
  color: #EFD691;
  text-align: center;
  vertical-align: top;
  margin-top: -4px;
  text-shadow: 10px 6px black;
}

h2 {
  font-family: Abel, sans-serif;
  font-size: 500%;
  color: #EFD691;
  text-align: center;
  vertical-align: top;
  margin-top: -4px;
  text-shadow: 6px 4px black;
}
