<!--Andrew McBain and Cade-->

canvas {
    border: 1px solid blue;
    background-color: black;
}

body{
	background-color:;
	 font-family:"gill sans mt", helvetica, sans-serif;
	 font-size:18px;
	 }
