<!--Andrew McBain and Cade-->
body{
}

@keyframes backgroundmv {
  0%   {background-color:#0042aa;}
  20%  {background-color:#0086aa;}
  40%  {background-color:#0064aa;}
  60%  {background-color:#0020aa;}
  80%  {background-color:#0200aa;}
  100% {background-color:#0042aa;}
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 15px;
  background-color: black;
	height: 97vh;
	width: 99vw;
}

.grid-container > div {
  animation: backgroundmv 60s infinite;
  text-align: center;
  font-size: 30px;
}

.title {
  grid-column: 1 / span 4 ;
	font-family: Abel, sans-serif;
  color: #EFD691;
	text-shadow: 3px 2px black;
}

.highscore {
  grid-row: 2 / span 4;
	font-family: Abel, sans-serif;
  color: #EFD691;
	text-shadow: 3px 2px black;
}

.userpane {
 grid-row: 2 / span 4;
 grid-column: 2 / span 2 ;
 font-family: Abel, sans-serif;
 color: #EFD691;
 text-shadow: 3px 2px black;
}

.myscore {
 grid-row: 2 / span 4;
 grid-column:4 / span 1 ;
 font-family: Abel, sans-serif;
 color: #EFD691;
 text-shadow: 3px 2px black;
}

.txtbox {
  border: 1px solid #F3D486;
  border-radius: 25px;
  background-color: #F3D486;
  width: 400px; height: 60px;
  font-family: Abel, sans-serif;
  font-size: 40px;
	position: relative;
	top: -25px;
	text-align: center;
  box-shadow: 10px 10px #B59959;
}

.playbutton {
  border: 1px solid #F3D486;
  border-radius: 25px;
  background-color: #F3D486;
  width: 250px;
  height: 60px;
  font-family: Abel, sans-serif;
  font-size: 40px;
	position: relative;
	top: -40px;
  box-shadow: 6px 8px #B59959;
  cursor: pointer;
}
.accbuttons {
  border: 1px solid #F3D486;
	margin-top: 15px;
  border-radius: 25px;
  background-color: #F3D486;
  width: 150px;
  height: 40px;
  font-family: Abel, sans-serif;
  font-size: 20px;
  box-shadow: 6px 8px #B59959;
  cursor: pointer;
}
